.wrap {
  width: 100%;
}
.wrap .head {
  position: fixed;
  width: 100%;
  background: #7e8c8d;
  z-index: 100;
}
.wrap .head img {
  width: 280px;
  height: 40px;
  margin: 20px 0 0 80px;
  line-height: 80px;
  display: inline-block;
}
.wrap .head .citySwitch {
  display: inline-block;
  font-size: 20px;
}
.wrap .head .citySwitch img {
  width: 20px;
  height: 20px;
}
.wrap .head .headNav {
  display: inline-block;
  background: #7e8c8d;
  margin-left: 90px;
}
.wrap .head .headNav ul {
  display: flex;
  padding: 10px;
}
.wrap .head .headNav ul li {
  margin-left: 40px;
}
.wrap .head .headNav ul li a {
  font-size: 20px;
  font-weight: 700;
  color: #121212;
}
.wrap .head .headNav ul li:last-child {
  border: 1px solid #7e8c8d;
  background: #e94840;
  border-radius: 5px;
  color: #fff;
}
.wrap .content {
  width: 100%;
  padding-top: 72px;
}
.wrap .content .lunbo-container {
  position: absolute;
  padding: 24px 27px;
  width: 100%;
  height: 420px;
  border: 1px solid #000;
  overflow: hidden;
}
.wrap .content .lunbo-container .hd {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 110px;
  margin-left: -55px;
  padding: 2px 5px;
  height: 10px;
  z-index: 10;
}
.wrap .content .lunbo-container .hd .bullet {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.wrap .content .lunbo-container .hd .bullet.on {
  background: #ff7200;
}
.wrap .content .lunbo-container .hd .bullet-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  border-radius: 6px;
  z-index: 1;
  width: 68px;
}
.wrap .content .lunbo-container .bd {
  position: relative;
  height: 100%;
  z-index: 0;
}
.wrap .content .lunbo-container .bd .img100 {
  display: block;
  width: 100%;
}
.wrap .content .banner-nav {
  position: relative;
  margin: 10px 0 0 240px;
  padding-top: 20px;
}
.wrap .content .banner-nav .navName {
  background: #000;
  width: 100px;
  text-align: center;
  height: 420px;
  line-height: 20px;
}
.wrap .content .banner-nav .navName li {
  height: 40px;
}
.wrap .content .banner-nav .navName li ul {
  display: none;
  color: #fb474f;
  margin: -25px 0 0 100px;
  width: 80px;
  height: 420px;
  background: #fff;
  opacity: 0.9;
}
.wrap .content .banner-nav .navName li:hover ul {
  display: block;
}
.wrap .content .box1 {
  width: 100%;
  min-width: 1200px;
}
.wrap .content .box1 .box1_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0 0;
  clear: both;
}
.wrap .content .box1 .box1_wrap .box1_inner {
  width: 100%;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_inner_header {
  text-align: center;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_inner_header .span1 {
  display: block;
  color: #3d3838;
  font-weight: 800;
  font-size: 28px;
  font-family: "Microsoft YaHei";
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_inner_header .span2 {
  display: block;
  font-family: "幼圆";
  font-size: 22px;
  color: #3d3838;
  margin-top: 15px;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_inner_header .span2 a {
  color: #3d3838;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_header {
  text-align: right;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_header .lookMore {
  position: relative;
  bottom: 22px;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_header .lookMore a {
  color: #898989;
  font-size: 18px;
  font-family: "幼圆";
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder {
  float: left;
  padding: 10px;
  width: 230px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
  height: 345px;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder:hover {
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder img {
  vertical-align: middle;
  border: 0;
  width: 210px;
  height: 210px;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder .serviceName {
  font-size: 16px;
  padding: 8px 0;
  font-weight: 800;
  color: #000;
  box-sizing: border-box;
  overflow: hidden;
  width: 101%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder .description {
  color: #929292;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 13px;
  line-height: 18px;
  height: 50px;
  box-sizing: border-box;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder .price {
  font-size: 14px;
  padding: 5px 5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  color: #fb474f;
}
.wrap .content .box1 .box1_wrap .box1_inner .box1_content .box1_content_inner .ServiceBorder .price .btn {
  float: right;
  padding: 0;
  width: 76px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.wrap .content .baozhang {
  text-align: center;
  width: 100%;
  padding: 60px 0 10px 0;
  background: #fff;
}
.wrap .content .baozhang h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
  padding-bottom: 10px;
}
.wrap .content .baozhang h2 i {
  color: #fb474f;
  font-weight: 800;
  font-style: normal;
}
.wrap .content .baozhang p {
  font-size: 22px;
  color: #3d3838;
  margin: 0;
}
.wrap .content .servi {
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 66px;
  font-family: "微软雅黑";
}
.wrap .content .servi ul {
  width: 420px;
  margin: 0 auto;
}
.wrap .content .servi ul li {
  width: 33%;
  float: left;
  text-align: center;
  color: #1d1515;
  font-size: 18px;
}
.wrap .content .servi ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.wrap .footer {
  width: 100%;
  padding-top: 50px;
  height: 180px;
  background: #fff;
}
.wrap .footer dl {
  width: 1200px;
  margin: 0 auto;
}
.wrap .footer dl dt {
  float: left;
  font-size: 18px;
}
.wrap .footer dl dd {
  margin-left: 30px;
  width: 1090px;
  line-height: 30px;
  float: left;
}
.wrap .footer dl dd a {
  font-size: 18px;
  color: #898989;
  display: inline-block;
  width: 8%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-family: "微软雅黑";
}
.wrap .beian {
  width: 100%;
  height: 130px;
  text-align: center;
  padding-top: 50px;
}
.wrap .beian #htit {
  position: relative;
  bottom: 20px;
  text-align: left;
  font-weight: bold;
  width: 1200px;
  margin: 0 auto;
  background: none;
  color: #1d1515;
  font-size: 18px;
}
.wrap .beian .hezuo {
  width: 1200px;
  margin: 0 auto;
}
.wrap .beian .hezuo li {
  float: left;
  width: 11%;
  height: 60px;
  text-align: center;
  background: #fff;
  line-height: 55px;
  cursor: pointer;
}
.wrap .beian .hezuo li img {
  width: 100px;
  height: auto;
}
.wrap .copyright {
  width: 100%;
  text-align: center;
  clear: both;
  padding: 10px 0 10px 0;
  font-size: 25px;
  font-weight: 700;
}
