.wrap {
  overflow-x: hidden;
}
.wrap .head {
  position: fixed;
  width: 100%;
  background: #7e8c8d;
  z-index: 100;
}
.wrap .head img {
  width: 280px;
  height: 40px;
  margin: 20px 0 0 80px;
  line-height: 80px;
  display: inline-block;
}
.wrap .head .citySwitch {
  display: inline-block;
  font-size: 20px;
}
.wrap .head .citySwitch img {
  width: 20px;
  height: 20px;
}
.wrap .head .headNav {
  display: inline-block;
  background: #7e8c8d;
  margin-left: 90px;
}
.wrap .head .headNav ul {
  display: flex;
  padding: 10px;
}
.wrap .head .headNav ul li {
  margin-left: 40px;
}
.wrap .head .headNav ul li a {
  font-size: 20px;
  font-weight: 700;
  color: #121212;
}
.wrap .head .headNav ul li:last-child {
  border: 1px solid #7e8c8d;
  background: #e94840;
  border-radius: 5px;
  color: #fff;
}
.wrap h2 {
  line-height: 85px;
  width: 1200px;
  margin: 80px 0 0 90px;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.wrap .service-center {
  width: 1300px;
  margin: 0 auto;
}
.wrap .service-center .centerleft {
  float: left;
  margin-bottom: 50px;
}
.wrap .service-center .centerleft .tabdiv .ulactivety {
  text-align: center;
}
.wrap .service-center .centerleft .tabdiv .ulactivety li {
  width: 232px;
  height: 300px;
  border: 1px solid #eaeaea;
  padding: 10px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  cursor: pointer;
}
.wrap .service-center .centerleft .tabdiv .ulactivety li:hover {
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s;
}
.wrap .service-center .centerleft .tabdiv .ulactivety li img {
  width: 210px;
  height: 210px;
  vertical-align: middle;
}
.wrap .service-center .centerleft .tabdiv .ulactivety .p1 {
  height: 26px;
  line-height: 26px;
  margin: 0 0 0 -110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap .service-center .centerleft .tabdiv .ulactivety .p1 .iconfont {
  margin-right: 6px;
  width: 18px;
  height: 17px;
}
.wrap .service-center .centerleft .tabdiv .ulactivety .p1 b {
  font-size: 16px;
  margin-left: -7px;
  font-weight: 700;
}
.wrap .service-center .centerleft .tabdiv .ulactivety .p2 {
  font-size: 12px;
  color: #929292;
  margin-left: -70px;
}
.wrap .service-center .centerleft .tabdiv .ulactivety .p2 i {
  float: right;
  margin-right: 7px;
  font-style: normal;
}
.wrap .service-center .centerright {
  width: 230px;
  float: right;
  margin-top: -2040px;
}
.wrap .service-center .centerright img {
  width: 254px;
  height: 322px;
  cursor: pointer;
}
.wrap .service-center .app {
  width: 230px;
  float: right;
  margin-top: -1707px;
}
.wrap .service-center .app img {
  width: 254px;
  height: 322px;
  cursor: pointer;
}
.wrap .footer {
  width: 100%;
  padding-top: 50px;
  height: 180px;
  background: #fff;
}
.wrap .footer dl {
  width: 1200px;
  margin: 0 auto;
}
.wrap .footer dl dt {
  float: left;
  font-size: 18px;
}
.wrap .footer dl dd {
  margin-left: 30px;
  width: 1090px;
  line-height: 30px;
  float: left;
}
.wrap .footer dl dd a {
  font-size: 18px;
  color: #898989;
  display: inline-block;
  width: 8%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-family: "微软雅黑";
}
.wrap .copyright {
  width: 100%;
  text-align: center;
  clear: both;
  padding: 10px 0 10px 0;
  font-size: 25px;
  font-weight: 700;
  padding-top: 100px;
}
